In [66]:
class Students:
    def __int__ (self,name='Karan'):
        self.name = name

    
    def Print_Class(self,Class_Name):
        print(f'My name is {self.name} and I study in {Class_Name} class')

In [65]:
a = Students()
a.Print_Class('10th')

NameError: name '__init__' is not defined

In [12]:
dict_ = {'Name':['Karan','Raj'],'Salary':[200,400],'Department':['Finance','IT']}

import pandas as pd
df = pd.DataFrame(dict_)
df.head()

    Name  Salary Department
0  Karan     200    Finance
1    Raj     400         IT

In [13]:
df.groupby('Department').sum()['Salary']

Department
Finance    200
IT         400
Name: Salary, dtype: int64