In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
a = [3,4,5,6,70,90,80]

res = [i*i for i in a]
res

[9, 16, 25, 36, 4900, 8100, 6400]

In [5]:
data = {'Name':['Alice','Karan','Raj','Shubham'],'Age':[24,56,78,80],'Salary':[10000,20000,30000,40000]}
df = pd.DataFrame(data)
df.head()

      Name  Age  Salary
0    Alice   24   10000
1    Karan   56   20000
2      Raj   78   30000
3  Shubham   80   40000

In [6]:
df['Seniority'] = df['Age'].apply(lambda x: 'Senior' if x>50 else 'Junior')
df.head()

      Name  Age  Salary Seniority
0    Alice   24   10000    Junior
1    Karan   56   20000    Senior
2      Raj   78   30000    Senior
3  Shubham   80   40000    Senior

In [18]:
a = [3,4,5,6,70,90,80,3,4,5,6,78,80,5]
from collections import Counter
counts = dict(Counter(a))
counts

# counts_list = list(counts.kyes())
# max(counts_list)

{3: 2, 4: 2, 5: 3, 6: 2, 70: 1, 90: 1, 80: 2, 78: 1}

In [20]:
# df = pd.read_csv(r"C:\Users\dell\Machine Learning\Python Practice\Python General Questions\Test.xlsx")
df = pd.read_csv('Test.csv')
df.head()

,Timestamp,A,B,C,D,E,F
0,01-01-2023 00:00,614.934184,776.273590,749.368866,519.754303,515.661652,451.017609
1,01-01-2023 00:01,615.019114,776.656036,749.001261,519.934815,515.843262,450.824636
2,01-01-2023 00:02,614.912598,776.601227,749.341980,520.385468,515.672557,450.618317
3,01-01-2023 00:03,614.344421,776.312561,750.089223,520.333109,515.448873,450.478394
4,01-01-2023 00:04,613.994395,775.686198,749.823273,519.717204,515.456787,450.358175

In [21]:
X = df.iloc[:,1:6].values
y = df.iloc[:,-1].values

In [22]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [23]:
lr = LinearRegression()
lr.fit(X_train,y_train)

lr.predict(X_test)

from sklearn.metrics import r2_score
print(r2_score(y_test,lr.predict(X_test)))

0.8068990724654399

In [25]:
from sklearn.ensemble import RandomForestRegressor
rfg = RandomForestRegressor()
rfg.fit(X_train,y_train)

rfg.predict(X_test)
print(r2_score(y_test,rfg.predict(X_test)))

0.9081067514142306