In [1]:
#Exercise 1: Print First 10 natural numbers using while loop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
#Exercise 2: Print the following pattern
# 1 
# 1 2 
# 1 2 3 
# 1 2 3 4 
# 1 2 3 4 5 

for num in range(1,6):
    for j in range(1,num+1):
        print(j,end='')
    print('')

print('')
for num in range(1,6):
    for j in range(num):
        print(num,end='')
    print('')

1
12
123
1234
12345

1
22
333
4444
55555

In [32]:
#Exercise 3: Calculate the sum of all numbers from 1 to a given number
def sum_all(nums):
    sum = 0
    for i in range(1,nums+1):
        sum = sum+i
    print(sum)
sum_all(10 )

55

In [37]:
#Exercise 4: Write a program to print multiplication table of a given number
def multiplication_num(nums):
    for i in range(1,11):
        print(nums*i)
multiplication_num(3)

3
6
9
12
15
18
21
24
27
30

In [43]:
#Exercise 5: Display numbers from a list using loop
# Write a program to display only those numbers from a list that satisfy the following conditions

# The number must be divisible by five
# If the number is greater than 150, then skip it and move to the next number
# If the number is greater than 500, then stop the loop

a = [20,45,7,8,5001,9,10]
b = [i for i in a if i%5==0 and i<=150]
for i in b:
    if i>500:
        break
    else:
        print(i)

20
45
10

In [44]:
#Exercise 6: Count the total number of digits in a number
digit = 758659
st = str(digit)
len(st)

6

In [46]:
num = 75869
count = 0
while num != 0:
    # floor division
    # to reduce the last digit from number
    num = num // 10
    print(num)

    # increment counter by 1
    count = count + 1
print("Total digits are:", count)

7586
758
75
7
0
Total digits are: 5

In [54]:
#Exercise 7: Print the following pattern
# 5 4 3 2 1 
# 4 3 2 1 
# 3 2 1 
# 2 1 
# 1
for num in range(5,0,-1):
    for j in range(num,0,-1):
        print(j,end='')
    print('')

54321
4321
321
21
1

In [60]:
#Exercise 8: Print list in reverse order using a loop
a = [12,45,67,89,10,9,7,10]
for i in range(len(a)-1,0,-1):
    print(a[i])

10
7
9
10
89
67
45

In [72]:
#Exercise 9: Display numbers from -10 to -1 using for loop
for i in range(-10,0,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [70]:
#Exercise 10: Use else block to display a message “Done” after successful execution of for loop
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

In [79]:
#Exercise 11: Write a program to display all prime numbers within a range
# range
start = 25
end = 50

temp = []

for num in range(start,end+1):
    counter = 0
    for j in range(2,num):
        if num%j==0:
            counter = 1
            break
    if counter == 0:
         temp.append(num)
            
print(temp)

[29, 31, 37, 41, 43, 47]

In [2]:
#Exercise 12: Display Fibonacci series up to 10 terms
num1, num2 = 0, 1

print("Fibonacci sequence:")
# run loop 10 times
for i in range(10):
    # print next number of a series
    print(num1, end="  ")
    # add last two numbers to get next number
    res = num1 + num2

    # update values
    num1 = num2
    num2 = res

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

In [96]:
#Exercise 13: Find the factorial of a given number
def factorial(num):
    result = 1 
    for i in range(num,0,-1):
        result = result * i
    print(result)
        
factorial(5)

120

In [99]:
#Exercise 14: Reverse a given integer number
a = 76542
st = str(a)
print(int(st[::-1]))

24567

In [101]:
#Exercise 15: Use a loop to display elements from a given list present at odd index positions
a = [2,4,5,6,7,8,9,0,10]
counter = 0
for i in a:
    counter+=1
    if counter%2!=0:
        print(i)

2
5
7
9
10

In [103]:
#Exercise 16: Calculate the cube of all numbers from 1 to a given number
def cube(num):
    for i in range(num,0,-1):
        print(i**3)
        
cube(5)

125
64
27
8
1

In [119]:
#Exercise 17: Find the sum of the series upto n terms

for i in range(1,6):
    print('2'*i, end='+')

2+22+222+2222+22222+

In [147]:
#Exercise 18: Print the following pattern
# * 
# * * 
# * * * 
# * * * * 
# * * * * * 
# * * * * 
# * * * 
# * * 
# *

for i in range(0,6):
    print(str('*')*i)
for i in range(4,0,-1):
    print(str('*')*i)

*
**
***
****
*****
****
***
**
*