In [2]:
#Exercise 1: Add a list of elements to a set
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

sample_set.update(sample_list)
sample_set

{'Black', 'Blue', 'Green', 'Orange', 'Red', 'Yellow'}

In [5]:
#Exercise 2: Return a new set of identical items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

res = set1.intersection(set2)
res

{30, 40, 50}

In [10]:
#Exercise 3: Get Only unique items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

res = set1.union(set2)
print(res)

{70, 40, 10, 50, 20, 60, 30}

In [26]:
#Exercise 4: Update the first set with items that donâ€™t exist in the second set
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)
set1

{10, 30}

In [16]:
#Exercise 5: Remove items from the set at once
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10,20,30})
set1

{40, 50}

In [3]:
#Exercise 6: Return a set of elements present in Set A or B, but not both
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70,80}

set1.symmetric_difference(set2)
set1.remove(10)
set1

{20, 30, 40, 50}

In [18]:
#Exercise 7: Check if two sets have any elements in common. If yes, display the common elements
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

set1.intersection(set2)

{10}

In [28]:
#Exercise 8: Update set1 by adding items from set2, except common items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70,80}

set1.symmetric_difference_update(set2)
set1

{10, 20, 60, 70, 80}

In [23]:
#Exercise 9: Remove items from set1 that are not common to both set1 and set2
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection_update(set2)
set1

{30, 40, 50}

In [25]:
#Exercise 6: Return a set of elements present in Set A or B, but not both
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.difference(set2)

{10, 20}

In [ ]:
""