In [1]:
#Exercise 1: Reverse a list in Python
list1 = [100, 200, 300, 400, 500]
print(list1[::-1])
print(list1.reverse())
list1

[500, 400, 300, 200, 100]
None

[500, 400, 300, 200, 100]

In [5]:
#Exercise 2: Concatenate two lists index-wise
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
res = list(zip(list1,list2))
temp=[]
for key,value in res:
    print(key,value)
    temp.append(key+value)
#print(temp)

list3 = [i+j for i,j in zip(list1,list2)]
#list3

M y
na me
i s
Ke lly

In [4]:
#Exercise 3: Turn every item of a list into its square
numbers = [1, 2, 3, 4, 5, 6, 7]
counter=0
for ele in numbers:
    numbers[counter] = ele**2
    counter += 1

print(numbers)
numbers = [1, 2, 3, 4, 5, 6, 7]
res = [i*i for i in numbers]
res

[1, 4, 9, 16, 25, 36, 49]

[1, 4, 9, 16, 25, 36, 49]

In [28]:
#Exercise 4: Concatenate two lists in the following order
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

res = []
for i in range(0,len(list1)):
    for j in range(0,len(list2)):
        txt = list1[i]+list2[j]
        res.append(txt)
        
res

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [42]:
#Exercise 5: Iterate both lists simultaneously
#Given a two Python list. Write a program to iterate both lists simultaneously 
#and display items from list1 in original order and items from list2 in reverse order.

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for x,y in zip(list1,list2[::-1]):
    print(x,y)

10 400
20 300
30 200
40 100

In [48]:
#Exercise 6: Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

temp = []
for ele in list1:
    if ele!='':
        temp.append(ele)
        
print(temp)
a = list(filter(None,list1))
a

['Mike', 'Emma', 'Kelly', 'Brad']

['Mike', 'Emma', 'Kelly', 'Brad']

In [51]:
#Exercise 7: Add new item to list after a specified item
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(700)
list1

[10, 20, [300, 400, [5000, 6000, 700], 500], 30, 40]

In [54]:
#Exercise 8: Extend nested list by adding the sublist
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

# sub list to add
sub_list = ["h", "i", "j"]
list1[2][1][2].extend(sub_list)
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [57]:
list1 = [1,2,3]
list2 = [5,6,7]
list1.append(list2)
print(list1)

list1 = [1,2,3]
list2 = [5,6,7]
list1.extend(list2)
print(list1)

[1, 2, 3, [5, 6, 7]]
[1, 2, 3, 5, 6, 7]

In [60]:
#Exercise 9: Replace listâ€™s item with new value if found
list1 = [5, 10, 15, 20, 25, 50, 20]

counter = 0
for i in range(0,len(list1)):
    if list1[i] == 20:
        list1[i]=200
        
print(list1)

list1.index(200)

[5, 10, 15, 200, 25, 50, 200]

3

In [62]:
#Exercise 10: Remove all occurrences of a specific item from a list.
list1 = [5, 20, 15, 20, 25, 50, 20]

def remove_value(list_,val):
    res = [i for i in list_ if i!=val]
    print(res)
    
remove_value(list1,20)

[5, 15, 25, 50]