List Items
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

In [3]:
a = [2,4,5,5,5,2,3]
a.sort()
a[2] = 'Karan'
print(a)

[2, 2, 'Karan', 4, 5, 5, 5]

In [4]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

######  Information
List is a collection which is ordered and changeable. Allows duplicate members.<br>
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.<br>
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.<br>
Dictionary is a collection which is ordered** and changeable. No duplicate members.<br>

In [16]:
a = [1,2,2,1,3,4]
print(a[0])
b = (1,2,4,4,4,3,3,3,)
print(b[0])
#b[0]=10 - This is unchangeable
a = {2,4,4,44,23,23,23}
print(a)

1
1
{2, 4, 44, 23}

In [1]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

Method	Description<br>
append()	Adds an element at the end of the list<br>
clear()	Removes all the elements from the list<br>
copy()	Returns a copy of the list<br>
count()	Returns the number of elements with the specified value<br>
extend()	Add the elements of a list (or any iterable), to the end of the current list<br>
index()	Returns the index of the first element with the specified value<br>
insert()	Adds an element at the specified position<br>
pop()	Removes the element at the specified position<br>
remove()	Removes the item with the specified value<br>
reverse()	Reverses the order of the list<br>
sort()	Sorts the list<br>

In [2]:
list1.count('a')

1

In [5]:
list1.index('a')
list1.insert(0,'Karan')
list1

['Karan', 'Karan', 'a', 'b', 'c']

In [6]:
list1.pop(o)
list1

NameError: name 'o' is not defined

In [17]:
def check_prime(x):
    for i in range(2,x):
        if x%i==0:  
            return False
    return True

a = check_prime(5)
a

True

In [27]:
a = [2,5,4]
b=[1,5,3]

main_list = []
a.sort()
b.sort()
main_list.append(a)
main_list.append(b)
main_list

[[2, 4, 5], [1, 3, 5]]

In [30]:
def check_anagram(str1,str2):
    return sorted(str1)==sorted(str2)

check_anagram('listen','silent')

True

In [55]:
n = int(input())
a = input().split(' ')
a = list(a)

ans = int(a[0])
counter=0
for i in a:
    if int(i)<ans:
        ans = int(i)
        counter+=1

print(counter)

6
4 3 7 2 6 1
3

In [ ]:
def binary_search(lst,index):
    print(lst[index-1])
    
binary_search([1,2,3,4,5],5)

In [57]:
a = 1
print(a)

1

In [64]:
n = int(input())

res = 0
for i in range(n):
    b = list(map(int,input().split(' ')))
    mult = b[0]*b[1]
    res = res + mult
    
print(res)

4
1 3
2 4
2 3
4 5
37

In [69]:
def func_(x):
    global a
    a = 2*4
    print(a)
    
func_(4)

8

In [70]:
a

8

In [73]:
import pandas as pd
df = pd.read_csv('Test.csv')
df.head()

,Timestamp,A,B,C,D,E,F
0,01-01-2023 00:00,614.934184,776.273590,749.368866,519.754303,515.661652,451.017609
1,01-01-2023 00:01,615.019114,776.656036,749.001261,519.934815,515.843262,450.824636
2,01-01-2023 00:02,614.912598,776.601227,749.341980,520.385468,515.672557,450.618317
3,01-01-2023 00:03,614.344421,776.312561,750.089223,520.333109,515.448873,450.478394
4,01-01-2023 00:04,613.994395,775.686198,749.823273,519.717204,515.456787,450.358175

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  46 non-null     object
 1   A          46 non-null     float64
 2   B          46 non-null     float64
 3   C          46 non-null     float64
 4   D          46 non-null     float64
 5   E          46 non-null     float64
 6   F          46 non-null     float64
dtypes: float64(6), object(1)
memory usage: 2.6+ KB

In [92]:
import datetime as dt
df['Timestamp'] = pd.to_datetime(df['Timestamp'])
df['Month'] = df['Timestamp'].dt.month
df['Year'] = df['Timestamp'].dt.year

In [93]:
df.groupby(['Month','Year']).sum()[['A']]

                      A
Month Year
1     2023  28259.98168

In [ ]:
s