In [1]:
import pandas as pd
import numpy as np
import datetime
from collections import Counter
import collections

C:\Users\dell\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
#Exercise 1: Calculate the multiplication and sum of two numbers
    
num1 = 60
num2 = 80
print('Multiplication of Num1 & Num2',num1*num2)  
print('Sum of Num1 & Num2',num1+num2)

Multiplication of Num1 & Num2 4800
Sum of Num1 & Num2 140

In [3]:
#Exercise 2: Print the sum of the current number and the previous number
for i in range(0,10):
    num1 = i-1
    num2 = i
    if num1<0:
        num1 = 0
    print(f'Current Number {num1} and Previous Number {num2} : Sum: {num1+num2}')

Current Number 0 and Previous Number 0 : Sum: 0
Current Number 0 and Previous Number 1 : Sum: 1
Current Number 1 and Previous Number 2 : Sum: 3
Current Number 2 and Previous Number 3 : Sum: 5
Current Number 3 and Previous Number 4 : Sum: 7
Current Number 4 and Previous Number 5 : Sum: 9
Current Number 5 and Previous Number 6 : Sum: 11
Current Number 6 and Previous Number 7 : Sum: 13
Current Number 7 and Previous Number 8 : Sum: 15
Current Number 8 and Previous Number 9 : Sum: 17

In [4]:
#Exercise 3: Print characters from a string that are present at an even index number
a = 'Karan'

for i in range(0,len(a)):
    if i%2==0:
        print(a[i])

K
r
n

In [5]:
#Exercise 4: Remove first n characters from a string
def remove_chars(str_text, length):
    text = str_text[length:]
    print(text)
    
remove_chars('Native',2)

tive

In [6]:
#Exercise 5: Check if the first and last number of a list is the same
a = [2,4,5,6,7]
b=[3,4,5,6,7,2,22]
num1 = a[0]
num2 = b[-1]
if num1==num2:
    print('Yes these are same')
else:
    print('No these are not same')

No these are not same

In [7]:
#Exercise 6: Display numbers divisible by 5 from a list
a = [5,10,15,20,22,45,46,78,90]
for num in a:
    if num%5==0:
        print(f'{num} is divisible by 5.')
    else:
        print(f'{num} is not divisible by 5.')

5 is divisible by 5.
10 is divisible by 5.
15 is divisible by 5.
20 is divisible by 5.
22 is not divisible by 5.
45 is divisible by 5.
46 is not divisible by 5.
78 is not divisible by 5.
90 is divisible by 5.

In [13]:
#Exercise 7: Return the count of a given substring from a string
str_x = "Emma is good developer. Emma is a writer"
from collections import Counter
a = Counter(str_x.split(' '))
a

Counter({'Emma': 2, 'is': 2, 'good': 1, 'developer.': 1, 'a': 1, 'writer': 1})

In [21]:
#Exercise 8: Print the following pattern
# 1 
# 2 2 
# 3 3 3 
# 4 4 4 4 
# 5 5 5 5 5

for num in range(1,6):
    print(str(num)*num)

for num in range(1,6):
    for j in range(num):
        print(num,end='')
    print('')

1
22
333
4444
55555
1
22
333
4444
55555

In [22]:
#Exercise 9: Check Palindrome Number
def check_palindrome(num):
    txt = str(num)
    num1_txt = txt[::-1]
    num1 = int(num1_txt)
    if num == num1:
        print('Yes it is palindrome')
    else:
        print('No it is not a palindrome')

check_palindrome(545)
check_palindrome(246)

Yes it is palindrome
No it is not a palindrome

In [23]:
a = 'Karan'
a[-len(a):-2]

'Kar'

In [2]:
#Exercise 10: Create a new list from two list using the following condition
a = [2,4,6,8,10,3,4,6,77,99,13]
b = [5,10,15,2,3,4,7,9]

temp1 = [i for i in a if i%2==0]
temp1 = [i for i in a if i%2==0]

for i in b:
    if i%5==0:
        temp1.append(i)
temp1

[2, 4, 6, 8, 10, 4, 6, 5, 10, 15]

In [3]:
test = lambda a: (a for a in x if a%5==0)
temp1.append(map(test,temp1))
temp1

[2, 4, 6, 8, 10, 4, 6, 5, 10, 15, <map at 0x161713faa20>]

In [4]:
type(temp1)

list

In [8]:
a

In [12]:
def my_func(x):
    if x<18:
        return True
    else:
        return False



check = filter(lambda x: True if x<18 else False,a)
for x in a:
    print(x)
check

In [30]:
#Exercise 11: Write a Program to extract each digit from an integer in the reverse order.
i = 54556781023
a = str(i)
a[::-1]
a

'54556781023'

In [38]:
#Exercise 12: Calculate income tax for the given income by adhering to the rules below
# First $10,000	0
# Next $10,000	10
# The remaining	20

def calculate_tax(amount):
    tax_amount = 0
    if amount>10000:
        tax_amount = 10000*0
    rem_amount = amount-10000
    if rem_amount>10000:
        tax_amount = tax_amount + (10000*0.1)
    rem_amount = amount-20000
    if rem_amount>10000:
        tax_amount = tax_amount + (rem_amount*0.2)
    print(tax_amount)

calculate_tax(45000)

6000.0

In [31]:
#Exercise 13: Print multiplication table from 1 to 10

for i in range(1,11):
    print(f'Table for {i}')
    for j in range(1,11):
        print(f'{i}*{j}={i*j}')

Table for 1
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
Table for 2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
Table for 3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
Table for 4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
Table for 5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
Table for 6
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60
Table for 7
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70
Table for 8
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80
Table for 9
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90
Table for 10
10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100

In [35]:
#Exercise 14: Print a downward Half-Pyramid Pattern of Star (asterisk)


for i in range(5,0,-1):
    print('*' * i)

for num in range(5,0,-1):
    for i in range(num):
        print('*',end='')
    print('')


for num in range(5,0,-1):
    print('*'*num)

for num in range(5,0,-1):
    for j in range(num,0,-1):
        print('*',end='')
    print('')

*****
****
***
**
*
*****
****
***
**
*
*****
****
***
**
*
*****
****
***
**
*

In [36]:
#Exercise 15: Write a function called exponent(base, exp) '
#that returns an int value of base raises to the power of exp.

def exp(base,exp):
    return base**exp

a = exp(2,5)
a

32

In [61]:
#Exercise 16 : Bubble sorting



for i in range(len(nums)-1,0,-1):
    for j in range(i):
        if nums[j]>nums[j+1]:
            temp = nums[j]
            nums[j]=nums[j+1]
            nums[j+1]=temp
print(nums)

[2, 3, 5, 6, 7, 8, 9, 10]

In [42]:
nums = [5,6,7,3,2,10,8,9]

for i in range(len(nums)-1,0,-1):
    for j in range(i):
        if nums[j]>nums[j+1]:
            temp = nums[j]
            nums[j] = nums[j+1]
            nums[j+1] = temp
nums

[2, 3, 5, 6, 7, 8, 9, 10]