In [3]:
#Exercise 1: Accept numbers from a user
a = int(input('Please provide a number'))
print(int(a))
print(type(a))

Please provide a number2
2
<class 'int'>

In [5]:
#Exercise 2: Display three string “Name”, “Is”, “James” as “Name**Is**James”
st = 'My,Name,Is,James'

lst = st.split(',')
print(lst,sep='<')
for wrd in lst:
    print(wrd+'**',end='')

['My', 'Name', 'Is', 'James']
My**Name**Is**James**

In [24]:
#Exercise 3: Convert Decimal number to octal using print() output formatting
num = 8
print('%o' % num)

10

In [30]:
#Exercise 4: Display float number with 2 decimal places using print()
num = 458.541315
print('%.2f' % num)

458.54

In [35]:
#Exercise 5: Accept a list of 5 float numbers as an input from the user
temp = []
for i in range(0,5):
    num = float(input('Please provide your number'))
    temp.append(num)
print(temp)

Please provide your number21.23
Please provide your number21.23
Please provide your number21.23
Please provide your number21.23
Please provide your number21.23
[21.23, 21.23, 21.23, 21.23, 21.23]

In [45]:
#Exercise 6: Write all content of a given file into a new file by skipping line number 5
with open('File.txt','r') as fp:
    lines = fp.readlines()
    count = 0
for line in lines:
    count += 1
    if count != 5:
        print(line,end='')

Hi
I am
Karan
Kaushik
Coding

In [55]:
#Exercise 7: Accept any three string from one input() call
str1,str2,str3 = input('Please enter three strings with space').split(' ')
print('Name1:',str1)
print('Name2:',str2)
print('Name3:',str3)

Please enter three strings with spaceHello Iam Karan
Name1: Hello
Name2: Iam
Name3: Karan

In [69]:
#Exercise 8: Format variables using a string.format() method.
quantity = 3
totalMoney = 1000
price = 450
statement1 = "I have {0} dollars so I can buy {1:.1f} football for {2:.2f} dollars."
statement1.format(totalMoney,quantity, price)

'I have 1000 dollars so I can buy 3.0 football for 450.00 dollars.'

In [76]:
#Exercise 9: Check file is empty or not
with open('File.txt','r') as fp:
    lines = fp.readlines()
    length = len(lines)
    if length == 0:
        print('File is Empty')
    else:
        print('File is not Empty')

File is not Empty

In [14]:
#Exercise 10: Read line number 4 from the following file
with open('File.txt','r') as fp:
    word = ['Karan','Coding','Kaushik']
    lines = fp.readlines()
    counter = 0
    for line in lines:
        if line.strip() in word:
            print('yes')
            continue
        else:
            print(line,end='')
#         counter += 1
#         print(line,end='')

Hi
I am
yes
yes
I Love
yes


https://pynative.com/python-exercises-with-solutions/